
body.wy-body-for-nav {
	font-size: 18px;
	font-family: 'Helvetica-Neue', Helvetica;
}
h1, h2, h3, h4, h5, h6, h7 {
	font-family: 'Avenir Next', 'Helvetica-Neue', Helvetica;
}
.wy-menu-vertical a:active {
	background: #FFB700;
}
div.wy-side-nav-search {
	background: #88F598;
}
div.wy-side-nav-search > div.version {
	color: rgba(255, 255, 255, 0.75);
}
form#rtd-search-form {
	display: none;
}
p > a.reference, td > a.reference.internal {
	color: #000;
	font-weight: 600;
}
p > a.reference:hover, td > a.reference.internal:hover {
	color: #FFB700;
}
div.section strong {
	color: #888;
	margin-bottom: -1rem;
	display:block;
}
nav.wy-nav-side {
	background: #1E2127;
}
div.wy-menu ul.current li.current > a.reference.internal {
	font-weight: normal;
}
div.wy-menu ul.current li.current > a.reference.internal.current {
	background: #FFB700;
	border: none;
	color: #fff;
}
div.wy-table-responsive table.docutils tr > td {
	white-space: pre-line;
	vertical-align: top;
	min-width: 20%;
}
td > dd {
	margin-bottom: 0;
}
.rst-content .admonition-title:before {
	margin-right: 8px;
}
div.admonition.note {
	color: #fff;
	border-radius: 8px;
	padding: 1rem;
	background: #f55;
	border: 0.5rem solid #f00;
}
div.admonition.note p.first {
	font-weight: 600;
	font-size: 1.25rem;
	background: none;
}
div.admonition.note p.last {
	font-weight: 400;
	font-size: 1.25rem;
}
